/* Donations page styles */

/* Color theme */
:root {
    --primary-color: #B19CD9;
    --secondary-color: #98FB98;
    --accent-color: #333333;
    }

    
    /* Form styles */
    form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    }
    
    label {
    font-size: 18px;
    margin-bottom: 6px;
    }
    
    input,
    select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    }
    
    select {
    appearance: none;
    padding-right: 40px;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 10.25L4.062 6.312a.5.5 0 01.707-.707L8 8.792l3.23-3.23a.5.5 0 01.707.707L8.707 10.25a.5.5 0 01-.707 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    }
    
    button {
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    }
    
    button[type="submit"]:hover {
    background-color: var(--secondary-color);
    }
    
    button[type="submit"]:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgba(145, 120, 212, 0.75);
    }
    
    /* Page header styles */
    h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: var(--accent-color);
    }
    
    /* Footer styles */
    footer {
    margin-top: 50px;
    text-align: center;
    color: #666;
    font-size: 14px;
    font-style: italic;
    color: var(--accent-color);
    bottom: 0;
    }
    
    footer a {
    color: var(--accent-color);
    }
    
    nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    }

    main {
        min-height: 100vh;
    }


    .wrapper { 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 20px;
        }

        .donations {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
          }
          
          .donation-card {
            background-color: #f7f7f7;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            padding: 10px;
            width: calc(33.33% - 20px);
          }
          
          .donation-card p {
            margin: 0;
          }
          
          .donation-card p.name {
            font-weight: bold;
          }
          
          .donation-card p.location {
            margin-top: 10px;
          }
          